PORT=<your_port>
NODE_ENV=<your_node_environment>
POSTGRES_URI=<your_postgres_db_connection_string>
BASE_URL=<your_base_url>


JWT_VERIFY_TOKEN_SECRET=<your_secret>
JWT_VERIFY_TOKEN_EXPIRES=<your_expiry_time>
JWT_ACCESS_TOKEN_SECRET=<your_secret>
JWT_ACCESS_TOKEN_EXPIRES=<your_expiry_time>
JWT_REFRESH_TOKEN_SECRET=<your_secret>
JWT_REFRESH_TOKEN_EXPIRES=<your_expiry_time>
JWT_RESET_TOKEN_SECRET=<your_secret>
JWT_RESET_TOKEN_EXPIRES=<your_expiry_time>

NODEMAILER_SMTP_HOST=<your_smtp_host>
NODEMAILER_PORT=<your_smtp_port>
NODEMAILER_EMAIL_USER=<your_smtp_email>
NODEMAILER_EMAIL_PASSWORD=<your_smtp_email_password>

ISSUER_URL=<your_issuer_url>

IMAGEKIT_PRIVATE_KEY=<your_imagekit_private_key>
IMAGEKIT_PUBLIC_KEY=<your_image_kit_public_key>